<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>Splurty was built by <a target="_blank" href="https://github.com/etorres11">Emilio.</a>
    A developer with the passion to adress mental health needs through technology and compassion. 
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.JPG', class: 'img-fluid' %>
    </div>
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Emilio Torres</h2>
      <br>
      <p>Emilio Torres is a entrepreneur, data analyst and software developer</p>
    </div>
  </div>
  <br class="clear">
  <br>
  <br>
  <br>
  <br>
</div>